<a target="_blank"
   href="https://www.evernote.com/client/snv?noteGuid=68d6de4f-7429-45c5-8cd6-f299e46d93f2&noteKey=8e6b36439ca33021&sn=https%3A%2F%2Fwww.evernote.com%2Fshard%2Fs12%2Fsh%2F68d6de4f-7429-45c5-8cd6-f299e46d93f2%2F8e6b36439ca33021&title=Contours.pages">
  Example image</a>
|
<a target="_blank" href="https://github.com/breslavsky/3d-contours/blob/master/src/app/app.component.ts">
  Source code
</a>
<plotly-plot class="plot" [data]="data"
             [layout]="layout"
             [useResizeHandler]="true"
             [style]="{'width': '100%', 'height': '100%'}"></plotly-plot>

<router-outlet></router-outlet>
